.openMoreOptions {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.openMoreOptions * {
  box-sizing: border-box;
  flex: 1;
  color: black;
  font-size: large;
  text-decoration: none;
  width: 100%;
  padding: 2px;
  border-radius: 3px;
  padding: 3px 6px;
}

.openMoreOptions .delete {
  color: rgba(255, 0, 0);
}

.openMoreOptions *:not(.delete):hover,
.openMoreOptions *:not(.delete):focus {
  background-color: rgb(0 0 0 / 0.2);
}

.openMoreOptions .delete:hover,
.openMoreOptions .delete:focus {
  background-color: rgba(255, 0, 0, 0.2);
}

.openMoreOptions .delete:active {
  background-color: #b91c1c;
}