.posts {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 3px;
  gap: 3px;
  cursor: pointer;
}

.singlePost {
  width: max(70vw, min(90vw, 300px));
  background-color: #C4BFB5;
  padding: 20px;
  min-height: 20vh;
  border-radius: 2px;
  line-height: 1.5;
  font-size: large;
  margin-bottom: 30px;
  margin-top: 10px;
}

.paganation {
  display: flex;
  font-size: large;
  align-items: center;
}

.currentPage {
  padding: 5px 10px;
}

.pageArrow {
  height: 20px;
}

.pageArrowButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  padding: 10px;
  aspect-ratio: 1;
  border: none;
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.2);
}

.pageArrowButton:hover,
.pageArrowButton:focus {
  background-color: rgb(0, 0, 0, 0.4);
}

.pageArrowButton:active {
  background-color: rgb(0, 0, 0, 0.1);
}

.pageArrowButton:disabled {
  cursor: not-allowed;
  background-color: gainsboro;
}

.comment {
  width: max(70vw, min(90vw, 300px));
  background-color: #C4BFB5;
  padding: 20px;
}

.commentTop {
  width: max(70vw, min(90vw, 300px));
  text-align: center;
}

.commentTop hr {
  height: 5px;
  background-color: gray;
  border-radius: 20px;
  border: none;
}

.flexRowSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexRowSpaceBetween .trashCan {
  width: 3em;
  height: 3em;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexRowSpaceBetween .trashCan:hover,
.flexRowSpaceBetween .trashCan:focus {
  background-color: rgba(255, 0, 0, 0.2);
}

.trashCan img {
  max-width: 60%;
  max-height: 60%;
}

.postDetails {
  color: #333333;
  width: 95%;
}

.postContainer {
  width: max(70vw, min(90vw, 300px));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TinymceContainer {
  width: 90%;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.fontSizeSmall {
  font-size: small;
  font-style: italic;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}