.posts {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 3px;
  gap: 3px;
  cursor: pointer;
}

.post {
  background-color: gray;
  color: #222222;
  text-decoration: none;
  width: max(80vw, min(90vw, 300px));
  padding: 5px 10px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.fixed {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.fixed * {
  box-sizing: border-box;
  flex: 1;
  color: black;
  font-size: large;
  text-decoration: none;
  width: 100%;
  padding: 2px;
  border-radius: 3px;
  padding: 3px 6px;
}

.fixed .delete {
  background-color: rgba(239, 68, 68, 0.5);
}

.fixed *:not(.delete):hover,
.fixed *:not(.delete):focus {
  background-color: rgb(0 0 0 / 0.2);
}

.fixed .delete:hover,
.fixed .delete:focus {
  background-color: rgba(239, 68, 68, 0.7);
}

.fixed .delete:active {
  background-color: #b91c1c; /* pressed */
}


.moreForPost {
  max-height: 30px;
}


.odd {
  background-color: #cccccc;
}

.even {
  background-color: #aaaaaa;
}

.post:hover,
.post:focus-within {
  background-color: rgb(0, 0, 0, 0.55);
  color: wheat;
}

.paganation {
  display: flex;
  font-size: large;
  align-items: center;
}

.currentPage {
  padding: 5px 10px;
}

.pageArrow {
  height: 20px;
}

.pageArrowButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  padding: 10px;
  aspect-ratio: 1;
  border: none;
  cursor: pointer;
}

.pageArrowButton:hover,
.pageArrowButton:focus {
  background-color: rgb(0, 0, 0, 0.3);
}

.pageArrowButton:active {
  background-color: rgb(0, 0, 0, .5);
}

.pageArrowButton:disabled {
  cursor: not-allowed;
  background-color: gainsboro;
}